<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"> <!-- bean definitions here -->

   <bean id="student" class="org.tnsindia.di3withcollection.StudentNew">
   	   <property name="name" value="Mohan Gabhale"/>
       <constructor-arg>
        <list>
      	 <ref bean="address1"/>
        </list>
       </constructor-arg>
   </bean>
   
    <bean id="address1" class="org.tnsindia.di3withcollection.Address">
       <property name="addLine" value="Test address1"/>
       <property name="city" value="Vashi"/>
       <property name="state" value="Maharashtra"/>
       <property name="country" value="India"/>
    </bean>
    
   

</beans>
